# common ignores
.classpath
.project
.settings
.idea
bin
target
src/target
*~
*~bak
*-bak
*.bak
*-new
*.rej
*.orig
.pydevproject
*.pyc
*.iml
*.ipr
*.iws
*.gpd.*
*cpJar*
dependency-tree.log
test-results.xml
.vagrant
selenium-server-standalone*
node_modules
npm-debug.log
*.class
